.form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  min-width: 300px;
  border-right: 1px solid #404040;

  input {
    font-size: 20px;
    line-height: 24px;
    padding: 15px 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .form__btns {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    color: #ffffff;
  }

  .btn {
    font-size: 18px;
    line-height: 26px;
    padding: 10px;
    background-color: #41DC63;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  .btn_reset {
    background-color: red;
  }
}
