<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="index.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FRANTSUZ GO</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=95015563-4531-45f2-8998-5647357e8b56&lang=ru_RU"></script>
    <script src="ymap.js"></script>
    <!-- <script src="keydown.js"></script> -->
  </head>
  <body>
    <div>
      <form>
        Откуда:&nbsp;<input type="text" id="input1" readonly>
        <br/>
        Куда:&nbsp;<input type="text" id="input2" readonly>
        <br/>
      </form>
	  </div>
    <div id="map11" class="map"></div>
  </body>
</html>
